.day {
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid rgba(50, 0, 0, 0.4);
  border-radius: 0.5rem;
}

.date {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date .date-np,
.date .date-en {
  padding: 0.1rem;
}

.date .date-np {
  font-size: 2.5rem;
}

.date .date-en {
  height: 80%;
  padding-bottom: 0.2rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
